In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("A:\My project\Behavioral-Analytics-of-Introverts-vs-Extroverts\Data_preprocessing\cleaned_personality_behavior.csv")

In [3]:
df.head()

,Unnamed: 0,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,2,6.0,Yes,1.0,0.0,No,3.0,0.0,Introvert
3,3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,4,1.0,No,4.0,4.0,No,13.0,5.0,Extrovert

In [5]:
df.describe()

,Unnamed: 0,id,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,18524.000000,18524.000000,18524.000000,18524.000000,18524.000000,18524.000000,18524.000000
mean,9261.500000,9261.500000,3.064673,5.248219,4.040812,7.996923,4.983319
std,5347.562529,5347.562529,2.919057,2.665002,1.979312,4.101561,2.779172
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4630.750000,4630.750000,1.000000,3.000000,3.000000,5.000000,3.000000
50%,9261.500000,9261.500000,2.000000,5.000000,4.000000,8.000000,5.000000
75%,13892.250000,13892.250000,4.000000,7.000000,6.000000,11.000000,7.000000
max,18523.000000,18523.000000,11.000000,10.000000,7.000000,15.000000,10.000000